<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2013 Square, Inc. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.shipfaster"
    android:versionCode="1"
    android:versionName="1.0">

  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>

  <!-- This is required for Picasso to work. -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <!-- OPTIONAL Used to adjust the work load depending on the type of network the device is using. -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application android:label="@string/app_name" android:name=".common.ShipFasterApplication"
      android:icon="@drawable/ic_launcher"
      >
    <activity android:name=".cart.CartActivity"
        android:label="Cart">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".payment.PaymentActivity" android:label="Auth"/>
  </application>
</manifest>
